apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: simple-bank
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
        - name: consumer
          image: guutar/simple-bank-consumer-k8s:latest
          env:
            - name: RABBITMQ_URL
              value: amqp://simplebankuser:simplebankpass@rabbitmq:5672
            - name: DB_HOST
              value: mariadb
