apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: simple-bank
spec:
  selector:
    matchLabels:
      app: mariadb
  replicas: 1
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:11.4
          ports:
            - containerPort: 3306
          env:
            - name: MARIADB_ROOT_PASSWORD
              value: password
            - name: MARIADB_DATABASE
              value: simplebank
            - name: MARIADB_USER
              value: simplebankuser
            - name: MARIADB_PASSWORD
              value: simplebankpass
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mariadb-pvc
